{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Content-->
<style>
    /* 컨테이너 사이에 선 추가 */
    .container-divider {
        border-bottom: 2px solid #ccc; /* 선의 스타일을 지정합니다. */
        margin-bottom: 15px; /* 아래로 여백을 줍니다. */
        margin-top: 15px; /* 위로 여백을 줍니다. */
    }
    /* 이미지 및 글자 겹치기 */
    .image-container {
        position: relative;
    }

    .overlap-image {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
    .text-over-image {
        position: absolute;
        top: 50%; /* 세로 중앙 정렬 */
        left: 50%; /* 가로 중앙 정렬 */
        transform: translate(-50%, -50%); /* 정렬 보정 */
        color: black; /* 텍스트 색상 설정 */
        font-size: 70px; /* 텍스트 크기 설정 */
        font-weight: bold; /* 텍스트 두껍게 설정 */
    }
</style>
<div class="container px-4 px-lg-5">
    <!-- Heading Row--><!-- Team Logo -->
    <div class="image-container">
        <!-- <img src="{% static 'images/team_info_hello/helloHeaderTiger.png' %}" alt="..." class="overlap-image" style="width: 300px; height: 200px; margin-left: 54px; margin-bottom: 10px; margin-top: 10px;">-->
        <div class="text-over-image">타자</div>
        <img src="{% static 'images/team_info_hello/helloKIA.png' %}" alt="내 이미지" style="width: 1044px; height: 220px;">
    </div>
     <!-- Heading Row--><!-- Team info -->
    <div class="container-divider"></div>
    <!-- 검색어 입력 폼 추가 -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-3">
            <form id="search-form">
                <div>
                    <button type="button" onclick="searchPlayers()">검색</button><input type="text" id="search-input" placeholder="선수 이름 입력">
                </div>
            </form>
        </div>
            <div class="container-divider"></div>
    </div>

    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        {% if player_instance %}
        {% for player in player_instance|dictsort:"playerBackNum" %}
        {% if player.playerPos in 'LF,RF,CF,1B,2B,3B,SS,C' %}
        <div class="col-lg-3"> <!-- 선호하는 크기에 따라 열 너비를 조정하세요 -->
            <div class="player-info" style="display: inline-block; margin-bottom: 20px; text-align: center;">
                <h1 class="font-weight-bold" style="font-size: 30px;">
                    {% if player.PlayerImg %}
                    {% if " " in player.playerName %}
                    <a href="{% url 'detail_bat' playerName=player.playerName.split|first %}">
                        {% else %}
                    <a href="{% url 'detail_bat' playerName=player.playerName %}">
                    {% endif %}
                        <img src="{{ player.PlayerImg.url }}" alt="{{ player.playerName }} 이미지" style="width: 228px; height: 221px;">
                    </a>
                    {% endif %}
                </h1>
                <p style="font-size: 13.3px;">
                    {% if " " in player.playerName %}
                    <a href="{% url 'detail_bat' playerName=player.playerName.split|first %}">
                        {% else %}
                    <a href="{% url 'detail_bat' playerName=player.playerName %}">
                    {% endif %}
                        No.{{ player.playerBackNum }} {{ player.playerName }}
                        <br>{{ player.playerPos|linebreaksbr }}
                    </a>
                </p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="col-lg-12">
            <p>선수가 없습니다.</p>
        </div>
        {% endif %}
    </div>


    <div class="container-divider"></div>
 <script>
        function searchPlayers() {
            var searchTerm = document.getElementById("search-input").value.toLowerCase();

            var players = document.querySelectorAll('.player-info');
            var noResultsMessage = document.getElementById("no-results");

            var foundPlayers = false;

            players.forEach(function(player) {
                var playerName = player.innerText.toLowerCase();
                if (playerName.includes(searchTerm)) {
                    player.style.display = "inline-block";
                    foundPlayers = true;
                } else {
                    player.style.display = "none";
                }
            });

            if (foundPlayers) {
                noResultsMessage.style.display = "none";
            } else {
                noResultsMessage.style.display = "block";
            }
        }
    </script>
    <!-- Call to Action-->

    <!-- Content Row-->
</div>
{% endblock %}
