<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

         <!-- Bootstrap JavaScript, jQuery, Popper.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-5">
        <a class="navbar-brand mr-5" href="/mysite">
            <img src="https://tigers.co.kr/img/sub/emblem01_01.png" alt="KIA TIGERS 로고" style="max-width: 90px; height: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="font-size: 21px;">
                <li class="nav-item dropdown">
                    <a class="nav-link fw-bold dropdown-toggle" href="/team" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 100px; color: black;">
                        팀 소개
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/team/hello">인사말</a>
                        <a class="dropdown-item" href="/team/introduction">구단 소개</a>
                        <a class="dropdown-item" href="/team/stadium">경기장 소개</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link fw-bold"  href="#!" style="margin-right: 100px; color: black;">선수단 소개</a></li>
                <li class="nav-item"><a class="nav-link fw-bold"  href="#!" style="color: black;">경기일정/결과</a></li>
            </ul>
        </div>
    </div>
</nav>

        <!-- Page Content-->
        <style>
    /* 컨테이너 사이에 선 추가 */
    .container-divider {
        border-bottom: 2px solid #ccc; /* 선의 스타일을 지정합니다. */
        margin-bottom: 15px; /* 아래로 여백을 줍니다. */
        margin-top: 15px; /* 위로 여백을 줍니다. */
    }
        </style>
        <div class="container px-4 px-lg-5">
             <!-- Heading Row--><!-- Team Logo -->
            <div>
                <img src="https://tigers.co.kr/img/sub/intro2_vs.png" alt="KIA TIGERS" class="img-fluid">

            </div>
            <!-- Heading Row--><!-- Team info -->
            <div class="container-divider"></div>
            <div class="row gx-4 gx-lg-5 align-items-center my-5 ">
                <div class="col-lg-3"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://tigers.co.kr/img/sub/intro2_dt01.png" alt="..." /></div>
                <div class="col-lg-9">
                    {% if team_history %}
                         {% with first_history=team_history.0 %}
                   <h1 class="font-weight-bold" style="font-size: 30px;">{{ first_history.subtitle }}</h1>
            <p style="font-size: 13.3px;">{{ first_history.content| linebreaksbr }}</p>
                        {% endwith %}
                        {% else %}
                        <p>history 가 없습니다.</p>
                    {% endif %}
                </div>
            </div>
            <div class="container-divider"></div>
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-3"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://tigers.co.kr/img/sub/intro2_dt02.png" alt="..." /></div>
                <div class="col-lg-9">
                    {% if team_history %}
                         {% with second_history=team_history.1 %}
                   <h1 class="font-weight-bold" style="font-size: 30px;">{{ second_history.subtitle }}</h1>
            <p style="font-size: 13.3px;">{{ second_history.content|linebreaksbr  }}</p>
                        {% endwith %}
                        {% else %}
                        <p>history 가 없습니다.</p>
                    {% endif %}
                </div>
            </div>
            <div class="container-divider"></div>
            <!-- Call to Action-->

            <!-- Content Row-->
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
    </body>
</html>
