{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page Content-->
        <style>
        /* 컨테이너 사이에 선 추가 */
        .container-divider {
            border-bottom: 2px solid #ccc; /* 선의 스타일을 지정합니다. */
            margin-bottom: 15px; /* 아래로 여백을 줍니다. */
            margin-top: 15px; /* 위로 여백을 줍니다. */
        }
        /* 이미지 및 글자 겹치기 */
        .image-container {
            position: relative;
        }

        .overlap-image {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
        }
        .text-over-image {
            position: absolute;
            top: 50%; /* 세로 중앙 정렬 */
            left: 70%; /* 가로 중앙 정렬 */
            transform: translate(-50%, -50%); /* 정렬 보정 */
            color: black; /* 텍스트 색상 설정 */
            font-size: 100px; /* 텍스트 크기 설정 */
            font-weight: bold; /* 텍스트 두껍게 설정 */
        }
        </style>
        <div class="container px-4 px-lg-5">
             <!-- Heading Row--><!-- Team Logo -->
            <div class="image-container">
                <img src="{% static 'images/team_info_hello/helloHeaderTiger.png' %}" alt="..." class="overlap-image" style="width: 300px; height: 200px; margin-left: 54px; margin-bottom: 10px; margin-top: 10px;">
                <div class="text-over-image">인사말</div>
                <img src="{% static 'images/team_info_hello/helloKIA.png' %}" alt="내 이미지" style="width: 1044px; height: 220px;" >
            </div>
            <!-- Heading Row--><!-- Team info -->
            <div class="container-divider"></div>
            <div class="row gx-4 gx-lg-5 align-items-center my-5 ">
                <div class="col-lg-3">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://tigers.co.kr/img/sub/bi_bi02.png" alt="..." /></div>
                <div class="col-lg-9">
                    {% if hello %}
                         {% with first_hello=hello.0 %}
                   <h1 class="font-weight-bold" style="font-size: 30px;">{{ first_hello.subtitle }}</h1>
            <p style="font-size: 13.3px;">{{ first_hello.content| linebreaksbr }}</p>
                        {% endwith %}
                        {% else %}
                        <p>hello 가 없습니다.</p>
                    {% endif %}
                </div>
            </div>
            <div class="container-divider"></div>
            <!-- Call to Action-->

            <!-- Content Row-->
        </div>
        {% endblock %}
