{% extends 'base.html' %}
{% block content %}
        <!-- Page Content-->
        <style>
    /* 컨테이너 사이에 선 추가 */
    .container-divider {
        border-bottom: 2px solid #ccc; /* 선의 스타일을 지정합니다. */
        margin-bottom: 15px; /* 아래로 여백을 줍니다. */
        margin-top: 15px; /* 위로 여백을 줍니다. */
    }
        </style>
        <div class="container px-4 px-lg-8" data-width="100%" data-height="100%">
             <!-- Heading Row--><!-- Team Logo -->
            <div>
                <img src="https://stage.tigers.co.kr/files/banner/2023/02/08/catchphrase_pc.png" alt="KIA TIGERS" width="1100" height="526">
            </div>
            <!-- Heading Row--><!-- Team info -->

            <!-- Call to Action-->

            <!-- Content Row-->
        </div>
        {% endblock %}
